.meme{
	position: relative;
}

.meme h1{
	position: absolute;
    top: 0;
    z-index: 9;
    left: 35px;
    font-size: 40px;
    background: #fff
}

.meme h2{
	position: absolute;
    top: 200px;
    z-index: 9;
    left: 35px;
    font-size: 40px;
    background: #fff
}

.meme h1::selection { background: yellow; }
.meme h2::selection { background: yellow; }